#main {
  padding: 0px; }

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #000000;
  line-height: 2; }

p {line-height: 2; 
  font-size: 20px;
  }

a img {
  border: none; }

  h2 { 
    line-height: 24px;
    font-weight: 100;
    font-size: 22px;
    font-family: Georgia; 
    padding-bottom: 10px;   
    border-bottom: 3px solid black;
    display: inline-block;
    color: white;
    text-align: center;
  }

  h3 { 
    line-height: 20px;
    color: white;
    font-weight: 100;
    font-size: 20px;
    font-family: Georgia;
    text-align: center;

  }

a {
  color: rgb(255, 0, 0); }
  a:hover {
    color: white; }

.container {
  display: grid;
  max-width: 2000px;
  position: relative;
  margin: auto;
  grid-gap: 0px;
  grid-template: repeat(18, 100px) / repeat(12, 1fr);
}

header {
  background-color: red;
  grid-area: 1 / 1 / 3 / 13;
  text-align: center;
  position: relative;
  height: 200px;

}

nav {
  background-color: rgb(0, 0, 0);
  grid-area: 3 / 1 / 5 / 13;
  position: relative;
}

.weekonescratch {
  background-color: grey;
  grid-area: 4 / 1 / 11 / 13;
  position: relative;
  text-align: center;
}

iframe {
  padding-bottom: 15px;
}


.weektwoscratchleft {
  background-color: rgb(53, 53, 53);
  grid-area: 11 / 1 / 18 / 7;
  position: relative;
  text-align: center;
}

.weektwoscratchleft p, .weektwoscratchright p   {
  color: white;
}

.weektwoscratchright {
  background-color: rgb(53, 53, 53);
  grid-area: 11 / 7 / 18 / 13;
  position: relative;
  text-align: center;
}


footer {
  background-color: rgb(36, 36, 36);
  grid-area: 18/ 1 / 19 / 13;
  color: white;
  text-align: center;
  position: relative;
}