.container {
    display: grid;
    max-width: 2000px;
    position: relative;
    margin: auto;
    grid-gap: 0px;
    grid-template: repeat(14, 100px) / repeat(12, 1fr);
  }

footer {
    background-color: rgb(36, 36, 36);
    grid-area: 14/ 1 / 15 / 13;
    color: white;
    text-align: center;
    position: relative;
  }

  .left {
    background-color: grey;
    grid-area: 4 / 1 / 14 / 7;
    position: relative;
    text-align: center;
    padding-bottom: 20px;
  }

  .right {
    background-color: rgb(59, 59, 59);
    grid-area: 4 / 7 / 14 / 13;
    position: relative;
    text-align: center
  }