.container {
    display: grid;
    max-width: 2000px;
    position: relative;
    margin: auto;
    grid-gap: 0px;
    grid-template: repeat(15, 100px) / repeat(12, 1fr);
  }
  .gradtable {
    background-color: rgb(184, 184, 184);
    grid-area: 4 / 1 / 15 / 13;
    position: relative;
    text-align: center;
    padding: 50px;
  }

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: black;
    color: white;
}

table td:nth-child(1)
{
  background-color: black;
  color: white;
  font-weight: bold;
  width: 300px;
  border: 1px solid white;
}