.container {
    display: grid;
    max-width: 2000px;
    position: relative;
    margin: auto;
    grid-gap: 0px;
    grid-template: repeat(41, 100px) / repeat(12, 1fr);
  }
  .uodescription{
    background-color: rgb(53, 53, 53);
    grid-area: 4 / 1 / 12 / 7;
    position: relative;
    text-align: center;
  }
  .uodescription h3{
    color: white;   
  }
  .osudescription{
    background-color: rgb(53, 53, 53);
    grid-area: 4 / 7 / 12/ 13;
    position: relative;
    text-align: center;
  }
  .osudescription h3{
    color: white;   
  }
  .lifefactors {
    background-color: rgb(218, 218, 218);
    grid-area: 12 / 1 / 17 / 13;
    position: relative;
    text-align: center;
    padding: 50px;
  }
  .lifefactors p {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    color: black;
  }
  .lifefactors h2, h3 {
    color: black
  }
  
  .gradtable {
    background-color: rgb(184, 184, 184);
    grid-area: 17 / 1 / 41 / 13;
    position: relative;
    text-align: center;
    padding: 50px;
  }

  footer {
    grid-area: 41 / 1 / 42 / 13;
  }


table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: black;
    color: white;
}

table td:nth-child(1)
{
  background-color: black;
  color: white;
  font-weight: bold;
  width: 300px;
  border: 1px solid white;
}

table tr:nth-child(10)
{
  background-color: black;
  color: white;
  font-weight: bold;
}
.gradtable a {
    color:white; 
}
.gradtable a:hover {
      color: rgb(255, 0, 0); 
    
}
p {
    color: white;
    padding-left: 100px;
    padding-right: 25px;
    text-align: left;
}