.container {
    display: grid;
    max-width: 2000px;
    position: relative;
    margin: auto;
    grid-gap: 0px;
    grid-template: repeat(13, 100px) / repeat(12, 1fr);
  }
  .appsection {
    background-color: rgb(184, 184, 184);
    grid-area: 4 / 1 / 13 / 13;
    position: relative;
    text-align: center;
    padding: 20px;
  }

  footer {
    background-color: rgb(36, 36, 36);
    grid-area: 13/ 1 / 14 / 13;
    color: white;
    text-align: center;
    position: relative;
  }

.appsection a {
    color:white;
    text-decoration: none; 
}
.appsection a:hover {
      color: rgb(255, 0, 0); 
      text-decoration: none;
}