.container {
    display: grid;
    max-width: 2000px;
    position: relative;
    margin: auto;
    grid-gap: 0px;
    grid-template: repeat(29, 100px) / repeat(12, 1fr);
  }
  .halfadder {
    background-color: rgb(184, 184, 184);
    grid-area: 4  / 1 / 8 / 7;
    position: relative;
    text-align: center;
    
  }
  .fulladder {
    background-color: rgb(184, 184, 184);
    grid-area: 4 / 7 / 8 / 13;
    position: relative;
    text-align: center;
  }
  .fourbitadder {
    background-color: rgb(53, 53, 53);
    grid-area: 7 / 1 / 14 / 13;
    position: relative;
    text-align: center;
  } 
  .left {
    background-color: rgb(184, 184, 184);
    grid-area: 14 / 1 / 19 / 7;
    position: relative;
    text-align: center;
    padding: 20px;
  }
  .right {
    background-color: rgb(184, 184, 184);
    grid-area: 14 / 7 / 19 / 13;
    position: relative;
    text-align: center;
    padding: 20px;
  }
  .video {
    background-color: rgb(53, 53, 53);
    grid-area: 19 / 1 / 24 / 13;
    position: relative;
    text-align: center;
    padding: 10px;
  }
  .leftone {
    background-color: rgb(184, 184, 184);
    grid-area: 24 / 1 / 29 / 7;
    position: relative;
    text-align: center;
    
  }
  .righttwo {
    background-color: rgb(184, 184, 184);
    grid-area: 24 / 7 / 29 / 13;
    position: relative;
    text-align: center;
    
  }

  footer {
    background-color: rgb(36, 36, 36);
    grid-area: 29/ 1 / 30 / 13;
    color: white;
    text-align: center;
    position: relative;
  }
  

.appsection a {
    color:white;
    text-decoration: none; 
}
.appsection a:hover {
      color: rgb(255, 0, 0); 
      text-decoration: none;
}