
  .content {
    background-color: rgb(184, 184, 184);
    grid-area: 4 / 1 / 20 / 13;
    position: relative;
    text-align: left;
    padding-top: 25px;
    padding-left: 75px;
    padding-right: 75px;
  }

  .content p {
    line-height: 3;
    text-indent: 7%;
  }

  footer {
    background-color: rgb(36, 36, 36);
    grid-area: 20/ 1 / 21 / 13;
    color: white;
    text-align: center;
    position: relative;
  }