.container {
    display: grid;
    max-width: 2000px;
    position: relative;
    margin: auto;
    grid-gap: 0px;
    grid-template: repeat(25, 100px) / repeat(12, 1fr);
  }
  .jssectionleft {
    background-color: rgb(184, 184, 184);
    grid-area: 4 / 1 / 8 / 7;
    position: relative;
    text-align: center;
    padding: 20px;
  }
  .jssectionright {
    background-color: rgb(184, 184, 184);
    grid-area: 4 / 7 / 8 / 13;
    position: relative;
    text-align: center;
    padding: 20px;
  }
  .jssectionlefttwo {
    background-color: rgb(102, 102, 102);
    grid-area: 8 / 1 / 12 / 7;
    position: relative;
    text-align: center;
    padding: 20px;
  }
  .jssectionrighttwo {
    background-color: rgb(102, 102, 102);
    grid-area: 8 / 7 / 12 / 13;
    position: relative;
    text-align: center;
    padding: 20px;
  }
  .thirdrow {
    background-color: rgb(184, 184, 184);
    grid-area: 12 / 1 / 17 / 13;
    position: relative;
    text-align: center;
    padding: 20px;
  }
  .fourthrow {
    background-color: rgb(102, 102, 102);
    grid-area: 17 / 1 / 25 / 13;
    position: relative;
    text-align: center;
    padding: 20px;
  }
.fourthrow p {
  line-height: 12px;
  }
  footer {
    background-color: rgb(0, 0, 0);
    grid-area: 25/ 1 / 26 / 13;
    color: white;
    text-align: center;
    position: relative;
  }

.appsection a {
    color:white;
    text-decoration: none; 
}
.appsection a:hover {
      color: rgb(255, 0, 0); 
      text-decoration: none;
}